*{
    margin: 0px;
}
.select{
    background-color: black;
    padding: 20px;
    
    
}
.q{
    display: flex;
    color: white;
    gap: 20px;
}
.w{
    width: 117px;
    height: 50px;
    border-radius: 100px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}
.e{
   width: 138px;
    height: 50px;
    border-radius: 100px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0E714;  
}
.r{
    display: flex;
    gap: 30px;
}

.y{
   display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    margin: auto; 
}
.u{

}
.i{
     width: 138px;
    height: 50px;
    border-radius: 100px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0E714;  
    gap: 20px;
    color: black;
}
.o{
    display: flex;
    align-items: center;
    color: white;
    gap: 20px;
    margin-top: 20px;
}
.p{
    color: white;
    margin-left: 10%;
}
.a{
    color: #F0E714;
    font-size: 34px;
    font-weight: 600;
    margin-left: 40px;
}
.s{
    color: white;
}
.d{
     color: #F0E714;
    font-size: 34px;
    font-weight: 600;
    margin-left: 15px; 
}
.f{
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 20px;

}
.g{
    display: flex;
    align-items: center;
}
.h{
    width: 80%;
    font-size: 60px;
}
.j{
    width: 50%;
    margin-top: 20px;
}
.k{
    display: flex;
    align-items: center;
    padding-top: 40px;
    width: 90%;
    justify-content: space-between;
    margin: auto;
}